.carrito {
    text-decoration: none;
    color: rgb(73, 71, 71);
    list-style: none;
    position: relative;
    display: flex;
    justify-content: flex-end;
    font-size: 2.5rem;
    margin-top: -10px;
    margin-right: 72px;
}
