.NavbarItems {
    background: rgb(221, 212, 212);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: rgb(85, 121, 31);
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-seedling {
    margin-left: 0.5rem;
    font-size: 2rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
    font-weight: bold;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 2rem;
}

.nav-links:hover {
    background-color: whitesmoke;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}