.item {
    margin: 45px;
    color: black;
    width: 80%;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.377);
}
.botonItem {
    margin-left: 65px;
    margin-top: 20px;
    font-size: 1rem;
    color: black;
    text-align: center;
}
.precioItem {
    color: black;
    text-align: center;
    font-size: 1rem;
}
.imagenItem {
    text-align: center;
    width: 275px;
    margin: 10px;
}
.nombreItem {
    font-size: 1rem;
    text-align: center;
    color: black;
}