.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.columna-50 {
    width: 50%;
}

.nombreProducto {
    font-size: 3rem;
    font-family: "Poiret One", cursive;
    text-align: center;
    margin: 10px 0px 10px;
}
.imgProducto {
    width: 50%;
    margin-left: 25%;
}

.detalleProducto {
    text-align: center;
    margin: 10px 70px 0px 70px;
    font-family: "Poiret One", cursive;
    font-size: 0.8rem;
}
.cuidadoProducto {
    font-size: 0.8rem;
    text-align: center;
    margin: 10px 70px 0px 70px;
    font-family: "Poiret One", cursive;
}
.precioProducto {
    font-size: 1rem;
    color: black;
    margin-left: 270px;
}
.centrar {
    text-align: center;
}
.contenedorCarrito{
border: 1px solid black;
width: 150px;
margin-left: 250px;
border-radius: 5px;
background-color: rgba(241, 228, 211, 0.733);
}
.botonCarrito{
margin: 5px 0px 5px 35px;
background-color: rgba(235, 180, 212, 0.719);
border: solid 0.5px rgb(224, 107, 185);
}
.botonAdd{
    width: fit-content;
    margin-left: 16px;
    
}
.contador{
margin: 5px 0px 0px 70px;
}