.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.columna-50 {
    width: 50%;
}

.nombreProducto {
    font-size: 3rem;
    font-family: "Poiret One", cursive;
    text-align: center;
    margin: 10px 0px 10px;
}
.imgProducto {
    width: 50%;
    margin-left: 25%;
}

.detalleProducto {
    text-align: center;
    margin: 10px 70px 0px 70px;
    font-family: "Poiret One", cursive;
    font-size: 0.8rem;
}
.cuidadoProducto {
    font-size: 0.8rem;
    text-align: center;
    margin: 10px 70px 0px 70px;
    font-family: "Poiret One", cursive;
}
.precioProducto {
    font-size: 1rem;
    color: black;
    margin-left: 270px;
}
.centrar {
    text-align: center;
}
.cargando {
    width: 50px;
    margin: 20px 0px 0px 600px;
}
.botonLink1 {
    text-decoration: none;
    border: 1px solid rgb(9, 59, 36);
    border-radius: 2px;
    box-shadow: 4px 5px 13px -2px rgba(97, 113, 115, 0.75);
    margin: 30px 10px 20px 350px;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    background-color: rgba(23, 32, 23, 0.274);
    font-family: "Poiret One", cursive;
    color: black;
    padding: 15px 10px;
    position: absolute;
}
.botonLink2 {
    text-decoration: none;
    border: 1px solid rgb(9, 59, 36);
    border-radius: 2px;
    box-shadow: 4px 5px 13px -2px rgba(97, 113, 115, 0.75);
    margin: 30px 10px 20px 150px;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    background-color: rgba(23, 32, 23, 0.274);
    font-family: "Poiret One", cursive;
    color: black;
    padding: 15px 10px;
    position: absolute;
}
.botonLink3{
    text-decoration: none;
    border: 1px solid rgb(9, 59, 36);
    border-radius: 2px;
    box-shadow: 4px 5px 13px -2px rgba(97, 113, 115, 0.75);
    margin: 30px 0px 20px 350px;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    background-color: rgba(23, 32, 23, 0.274);
    font-family: "Poiret One", cursive;
    color: black;
    padding: 15px 10px;
    position: absolute;
}
.boton{
    margin: 0px 3px 0px 3px;
    font-family: "Poiret One", cursive;
    font-weight: 800;
    text-align: center;
    font-size: 1rem;
    
}


